[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython-sql = "==0.3.9"
psycopg2 = "==2.9.3"
imblearn = "==0.0"

[dev-packages]

[requires]
python_version = "3.9"
