[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupysql = "==0.7.2"
psycopg2 = "==2.9.3"
imblearn = "==0.0"
sqlalchemy = "==1.4.46"
pandas = "==1.5.3"
numpy = "==1.24.3"
scikit-learn = "==1.2.2"
python-dateutil = "==2.8.2"

[dev-packages]

[requires]
python_version = "3.10"
